.importantDateWrapper {
  .title {
    margin: 0px;
    padding: 10px;
    background: black;
    color: white;
  }

  .importantDate {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "date description";
    align-items: center;
    background: #d6e0f0;
    border-bottom: 2px solid white;
    padding: 5px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 8fr;
    }

    h1 {
      grid-area: date;
      text-align: center;
      background: black;
      color: white;
      margin: 0px 0px 0px 10px;
      padding: 8px;
    }

    h2 {
      margin: 20px;
      grid-area: description;
    }
  }
}
