@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.profile {
  .director {
    img {
      padding: 20px;
    }
      padding: 60px;
  }

  .teachers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    @include media-breakpoint-up(sm) {
      & {
        flex-direction: row;
        justify-content: space-around;
      }
    }

    img {
      height: 150px;
      width: 150px;
    }

  }
}
